.Header {
  width: 100%;
  height: var(--header-height);
  background: var(--inverted-bg-color);
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
}

.container {
  width: 100%;
  padding: 0 15px;
  display: flex;
  justify-content: flex-end;
}
